<div class="contact-body">
  <div class="content-container">

    <nav class="contact-main-nav main-nav">
      <ul class="main-nav-ul">
        <li class="main-nav-li"><a class="main-nav-link contact-main-nav-link" href="index.html#main-nav">Home</a></li>
        <li class="main-nav-li"><a class="main-nav-link contact-main-nav-link" href="about.html">About</a></li>
        <li class="main-nav-li"><a class="main-nav-link contact-main-nav-link" href="booking.html">Book</a></li>
        <li class="main-nav-li"><a class="main-nav-link contact-main-nav-link" href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <h3 class="contact-heading">Drop Us a Line</h3>

    <form action="" class="contact-form">

      <div class="name-container first-name-container">
        <label class="contact-label">First Name</label>
        <input class="name-input" type="text">
      </div>

      <div class="name-container">
        <label class="contact-label">Last Name</label>
        <input class="name-input" type="text">
      </div>

      <div class="input-container">
        <label class="contact-label">Email Address</label>
        <input class="email-input" type="email">

        <label class="contact-label">Message</label>
        <textarea class="message-input" name="" id="" cols="30" rows="10"></textarea>
        <input class="send-button" type="submit" value="Send">
      </div>

    </form>

    <footer class="contact-footer">
      <nav class="bottom-nav">
        <ul>
          <li class="bottom-nav-li"><a class="contact-bottom-nav-link bottom-nav-link" href="index.html#main-nav">Home</a></li>
          <li class="bottom-nav-li"><a class="contact-bottom-nav-link bottom-nav-link" href="about.html">About</a></li>
          <li class="bottom-nav-li"><a class="contact-bottom-nav-link bottom-nav-link" href="booking.html">Book</a></li>
          <li class="bottom-nav-li"><a class="contact-bottom-nav-link bottom-nav-link" href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </footer>

  </div>
</div>
