    <header class="welcome-header">
      <nav class="top-nav">
        <ul>
          <li ><a class="top-nav-link" href="about.html">about</a></li>
          <li ><a class="top-nav-link" href="booking.html">book</a></li>
        </ul>
      </nav>
      <h1 class="welcome">Welcome to<br>Hideaway Farm</h1>
      <a class="fa fa-chevron-down down-arrow" href="#main-nav"></a>
    </header>t

<div class="content-container">

    <nav class="main-nav" id="main-nav">
      <ul class="main-nav-ul">
        <li class="main-nav-li"><a class="main-nav-link" href="index.html#main-nav">Home</a></li>
        <li class="main-nav-li"><a class="main-nav-link" href="about.html">About</a></li>
        <li class="main-nav-li"><a class="main-nav-link" href="booking.html">Book</a></li>
        <li class="main-nav-li"><a class="main-nav-link" href="contact.html">Contact</a></li>
      </ul>
    </nav>

    <section class="intro-container">
      <div class="intro">
        <img src="images/owner.jpg" alt="Bob and Shirley" class="owner-photo intro-photo">
        <p class="intro-text">Hello! My name is Emily Elderflower and for more than 150 years my family has been proud to call Hideaway Farm our home.
          These grounds have become as much of our history as the Old Country Chester Elderflower, my great-great-grandfather, came from.
          <br><br>
          It is now our joy and privilege to be able to share this old land with visitors far and wide.
          There’s a peace here that has grown from sweat, tears, and laughter.
          There’s a warmth here even in the coldest days of winter that has kindled from years of good memories and meals shared around the family table.
          We look forward to making you a part of what makes Hideaway Farm such a great place to be.
        </p>
      </div>
      <a class="booking-link" href="booking.html">Book Your<br>Stay <i class="fa fa-bed"></i></a>
    </section>

    <section class="reviews-container">
      <div class="reviews">
        <h2 class="reviews-heading">Hear from Our Past Guests</h2>
        <ul>
          <li class="review">
            <img src="images/reviewer-1.jpg" alt="" class="review-photo">
            <p class="review-text">"I recommend Hideaway Farm to anyone!
            Whether you're the kind of person that enjoys sitting on the porch in a
            handmade rocking chair while sipping on chamomile tea and reading a good book,
            or if you like to take morning jogs through remote Farm land, or any other kind of thing,
            this place has it!"
            <br><br> -John from Oregon</p>
          </li>
          <li class="review">
            <img src="images/reviewer-2.jpg" alt="" class="review-photo">
            <p class="review-text">"I recommend Hideaway Farm to anyone!
            Whether you're the kind of person that enjoys sitting on the porch in a
            handmade rocking chair while sipping on chamomile tea and reading a good book,
            or if you like to take morning jogs through remote Farm land, or any other kind of thing,
            this place has it!"
            <br><br>-Brittany from California</p>
          </li>
          <li class="review">
            <img src="images/reviewer-3.jpg" alt="" class="review-photo">
            <p class="review-text">"I recommend Hideaway Farm to anyone!
            Whether you're the kind of person that enjoys sitting on the porch in a
            handmade rocking chair while sipping on chamomile tea and reading a good book,
            or if you like to take morning jogs through remote Farm land, or any other kind of thing,
            this place has it!"
            <br><br>-Jace from Idaho</p>
          </li>
          <li class="review">
            <img src="images/reviewer-4.jpg" alt="" class="review-photo">
            <p class="review-text">"I recommend Hideaway Farm to anyone!
            Whether you're the kind of person that enjoys sitting on the porch in a
            handmade rocking chair while sipping on chamomile tea and reading a good book,
            or if you like to take morning jogs through remote Farm land, or any other kind of thing,
            this place has it!"
            <br><br>-Bryce from Oslo, Norway</p>
          </li>
        </ul>
      </div>
    </section>

    <footer>
      <nav class="bottom-nav">
        <ul>
          <li class="bottom-nav-li"><a class="bottom-nav-link" href="index.html#main-nav">Home</a></li>
          <li class="bottom-nav-li"><a class="bottom-nav-link" href="about.html">About</a></li>
          <li class="bottom-nav-li"><a class="bottom-nav-link" href="booking.html">Book</a></li>
          <li class="bottom-nav-li"><a class="bottom-nav-link" href="contact.html">Contact</a></li>
        </ul>
      </nav>
    </footer>

  </div>
